body {
  font-size: 14px;
}
.quiz-container {
  padding: 10px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 16px;
  }
  .quiz-container {
    padding: 20px;
  }
}
/* 태블릿대응 */

@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }
  .quiz-container {
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
  }
}
/* pc대응 */
